
/*//**//**//**//**//**//**//**//**//**//**//**

    Declare paths to art

*//**//**//**//**//**//**//**//**//**//**//**/

#art-story-1 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2013/nov/bonamici.jpg) no-repeat center 0;
    height: 300px;
    margin-bottom: 10px;
}

#art-story-2 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2013/nov/buckeye.jpg) no-repeat 72.5% 40%;
    height: 300px;
    margin-bottom: 10px;
}

#art-story-3 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2013/nov/2013%2009%20EDMATTERS%20us%20news%20and%20world%20report%20cover.png) no-repeat 75% 0;
    height: 395px;
}

/*//**//**//**//**//**//**//**//**//**//**//**

    Responsive style declarations that a web
    browser applies to the page when the
    criteria set forth in the media query are
    met. In this case, when the viewing window
    600px wide or smaller, the styles that
    follow are applied.

*//**//**//**//**//**//**//**//**//**//**//**/

@media (max-width: 600px) {
    #art-story-1 {
        height: 250px;
        background: url(http://pages.uoregon.edu/edmatters/media/issues/2013/nov/bonamici.jpg) no-repeat 30% 0;
    }

    #art-story-2 {
        height: 250px;
    }

    #art-story-3 {
        height: 250px;
        background: url(http://pages.uoregon.edu/edmatters/media/issues/2013/nov/2013%2009%20EDMATTERS%20us%20news%20and%20world%20report%20cover.png) no-repeat center 0;
    }

    .gradient-hori {
        height: 15px;
        top: 220px;
    }
}