/*//**//**//**//**//**//**//**//**//**//**//**

    Declare location of art for archive issues

*//**//**//**//**//**//**//**//**//**//**//**/

#archive-issue-1 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2013/nov/buckeye.jpg) no-repeat center center;
}

#archive-issue-2 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2014/feb/nortec.jpg) no-repeat center center;
}

#archive-issue-3 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2014/apr/russia-visit.jpg) no-repeat center center;
}

#archive-issue-4 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2014/sum/kerewsky.jpg) no-repeat center center;
}

#archive-issue-5 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2014/fall/ksa-group.jpg) no-repeat center center;
}

#archive-issue-6 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2015/winter/goode-ecs2.jpg) no-repeat center 100%;
}

#archive-issue-7 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2015/spring/skowron-sensors.jpg) no-repeat center 100%;
}

#archive-issue-8 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2015/summer/fhs-o.jpg) no-repeat center 100%;
}

#archive-issue-9 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2015/fall/edst-quilt-2.jpg) no-repeat 50% 17.5%;
}

#archive-issue-10 {
    background: url(http://pages.uoregon.edu/edmatters/media/issues/2016/winter-review/andres-hero.jpg) no-repeat 50% 50%;
}


/*//**//**//**//**//**//**//**//**//**//**//**

    Class definitions, style declarations that
    apply specifically to the archive page

*//**//**//**//**//**//**//**//**//**//**//**/

.archive-background {
    background-size:                cover   !important;
    padding:                        40px;
    position:                       relative;
}

.archive-headline {
    /*background:                     rgba(0,0,0,.72);*/
    border-radius:                  3px;
    font-size:                      1.5em;
    font-family:                    AvenirNextCondensed-Bold, Calibri, sans-serif;
    line-height:                    1;
    text-transform:                 uppercase;
    padding:                        20px;
}

.archive-headline a {
    color:                          #FeFeFe;
    text-shadow:                    #2e2e2e 2px 2px 1px;
}

.archive-headline h3 {
    margin:                         0;
    margin-bottom:                  .8em;
}

.archive-headline h3:first-child {
    background:                     #ffd83b;
    border-radius:                  3px;
    box-shadow:                     #2e2e2e 2px 2px 1px;
    color:                          #2e2e2e;
    display:                        inline-block;
    font-family:                    Tahoma, Arial, sans-serif;
    font-weight:                    600;
    letter-spacing:                 .01em;
    padding:                        3px 9px;
}

.archive-headline h3:first-child a {
    color:                          #2e2e2e !important;
    text-decoration:                none;
    text-shadow:                    none    !important;
}

.archive-main-column {
    position:                       relative;
}

.shadow:before {
    height:                         60px;
    left:                           0;
    top:                            0;
}

/*//**//**//**//**//**//**//**//**//**//**//**

    Responsive style declarations that a web
    browser applies to the page when the
    criteria set forth in the media query are
    met. In this case, when the viewing window
    600px wide or smaller, the styles that
    follow are applied.

*//**//**//**//**//**//**//**//**//**//**//**/

@media (max-width: 600px) {
    h3 {
        font-size: 1em;
    }

    .archive-headline {
        padding:                           36px    !important;
    }

    .shadow:before {
        box-shadow:                     inset 0 60px 30px -50px #24262B;
        height:                         36px;
    }
}