/*//**//**//**//**//**//**//**//**//**//**//**

    Imported from latest issue

*//**//**//**//**//**//**//**//**//**//**//**/

.iOS-fix a {
    text-decoration:                none            !important;
    color:                          #24262B         !important;
}

.shadow:before {
    box-shadow:                     inset 0px 50px 60px -40px #24262B;
    box-shadow:                     inset 0 60px 60px -50px #24262B;
    content:                        '';
    display:                        block;
    position:                       absolute;
    width:                          100%;
    height:                         100%;
}

@media screen and (max-width:599px) {
    body {
        margin:                         0               !important;
        padding:                        0               !important;
    }

    div {
        padding:                        0               !important;
    }

    .btn {
        font-size:                      1em             !important;
    }

    .btn-more-issues, .btn-more-issues table {
        min-width:                      90px           !important;
    }

    .btn-more-issues table td {
        min-width:                      70px           !important;
    }

    .column {
        display:                        table           !important;
        height:                         auto            !important;
        max-width:                      none            !important;
        width:                          100%            !important;
    }

    .container-masthead, .container-uo-logo, .published-by, .mailing-address {
        display:                        block           !important;
        float:                          none            !important;
    }

    .container-social-icons {
        width:                          300px           !important;
        margin:                         auto;
    }

    .container {
        /*margin:                         -20px -20px     !important;*/
        min-width:                      320px           !important;
        width:                          100%            !important;
    }

    .grid {
        width:                          100%            !important;
    }

    .grid tr {
        display:                        table-row       !important;
    }

    .grid-3 {
        background-position:            -50px           !important;
    }

    .grid-block {
        display:                        table           !important;
        height:                         auto            !important;
        width:                          100%            !important;
    }

    .height-collapse {
        height:                         0               !important;
    }

    .height-reset {
        height:                         auto            !important;
    }

    .height-small {
        height:                         5px             !important;
    }

    .lose-align {
        float:                          none            !important;
    }

    .margin {
        width:                          10px            !important;
    }

    .margin-collapse {
        width:                          0               !important;
    }

    .margin-vertical {
        height:                         10px            !important;
    }

    .margin-vertical-30 {
        height:                         30px            !important;
    }

    .masthead {
        max-width:                      300px           !important;
        height:                         auto            !important;
    }

    .max-wide {
        width:                          100%            !important;
        display:                        table           !important;
    }

    .mobile-hidden {
        display:                        none            !important;
    }

    .reset-margin {
        margin:                         0               !important;
    }

    .social-icons-margin {
        width:                          45px            !important;
    }

    .story-art {
        width:                          100%            !important;
        height:                         auto            !important;
    }

    .uo-logo {
        background:                     url(http://pages.uoregon.edu/edmatters/media/logos/logo-coe-hori-black.png) no-repeat top center !important;
        background-size:                contain         !important;
        height:                         50px            !important;
        width:                          300px           !important;
    }